body{
  font-family: sans-serif;
  background-color: honeydew;
  width: 100%;
  margin: auto;
}
#header{
  text-align: center;
  color: white;
  font-size: 25px;
}

#banner{
  background-image: url("backgrounds/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover; 
  height: 70vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none;
}
.logo{
  position: relative;
  display: inline-block;
  top: 25px;
  left: 40%;
}

.happy{
  background-color: white;
  background-size: cover ;
  padding-bottom:12px ;
  display: flex;
  justify-content: center;

}
.party{
  background-color: #F15A29;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  
}
.time{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.breakfast:hover{
  background-color: grey;
}

.hours{
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  
  


}
#breakfast{
  background-image: url("foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
  
}
#breakfast:hover{
  background-color: grey;
}
#lunch{
  background-image: url("foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
  

}
#dinner{
  background-image: url("foodtop/dinner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
  
}
#breakfast, #lunch, #dinner{
  color: white;
 
}

main{
  height: 100%;
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 400px;
  
}

#content-1{
  margin-bottom: 100px;
  
} 

#content-2{
  margin-top: 100px;
}

.fastfood-images1{
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
 
}
.fastfood{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
  padding-left: 50px;
}
.drinks{
  box-shadow: 2px 2px 5px black;
  display: flex;
  float: right;
  padding: 10px;

}
.drinks-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  padding-right: 50px;
 
}
.glink {
  color: #F15A29;
  text-decoration: none;
  border: 2px solid #F15A29;
  padding: 12px 8px ;
  width: 120px;

}
.food-section{
  background-image: url("backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 300px; */
  padding: 100px 0 ;
  text-align: center;
  
}
.fastfood-footer{
  background-color: white;

}
.img{
  padding:10px ;
}
.footer-button{
  width: 100%;
  display: flex;
  flex-direction: row; 
}
.footer-images .img p{
  color: #F15A29;
}


.buttons{
  padding: 5px;
  width: 25%;
  font-weight: 600;
  border: 0.5px solid rgb(150, 150, 150);
  background-color: rgb(194, 193, 193);
  color: white;
}

.buttons:hover{
  background-color: #fff;
  color: #F15A29;
  border: none;
}

.footer-images{
  display: flex;
  padding: 20px;
}
.food-selection .lower-nav li{
  text-decoration: none;
  display: inline-block;
}
#feedback{
  box-shadow: 2px 2px 5px ;
  display: flex;
  font-display: row;
  justify-content: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px
  
  
}
.arrow{
margin-top: 120px; 
}
.next{
  color: #F15A29;
  margin-top: 50px; 
}
.feedback-section{
  padding: 100px 200px;
  text-align: center;
  

}
.customer-images{
  display: flex;
  justify-content: center;
}
.customer-about{
  display: flex;
  box-shadow: 2px 2px 5px grey;
  padding: 20px;
}
.happy-customer{
  width: 60%;
  padding: 15px;
}
.happy-customer h3{
  color: #F15A29;
}
.happy-customer .customer-images .next{
  float: left;
  padding-top: 17px;
  padding-right: 10px;
  margin: 0;

}
.happy-customer .customer-images .next1{
  float: right;
  color: #F15A29;
  padding-top: 17px;
  padding-left: 10px;

}
.geor{
  font-weight: 700;
}
.about{
  width: 40%;
  padding: 15px;
  border-left:1px solid grey ;
}
.about h3{
  color: #F15A29;
}
.subscription-section h4{
  font-size: 25px;
  color: white;
  
  
}

.subscription-section{
  /* display: flex; */
  justify-content: center;
  text-align: center;
  background-image: url(backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  padding-top: 70px;
  color: white;
} 
input{
  padding: 15px;
  border-radius: 8px;

}
.email button{
  padding: 15px;
  width: 150px;
  background-color: #F15A29;
  margin-left:10px ;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  text-align: center;
}
footer{
  background-color: #F15A29;
  height: 40vh;
  justify-content: center;
  text-align: center;
  color: white;
}
.footerlogo{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.footerlogo h1{
  padding-left:8px; 
}
.footer-icons img{
  margin: 5px;
}
footer p{
  font-size: 12px;  
  margin-top: 40px;
  margin-bottom: 40px;
}

